.navbar-logo {
    width: 200px;
}

.navbar-container {
    flex-wrap: nowrap;
}

.navbar-collaps {
    flex-grow: unset;
}

.nav-item {
    font-size: large !important;
}

.navbar-elements-right {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 0rem;
    
}

/* Navbar icons */
.navbar-user-area {
    display: flex;
    gap: 1rem;
    /*align-items: center;
    white-space: nowrap;*/
}

.navbar-icon-button {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-icon {
    width: 29px;
    height: 29px;
}


/* Navbar Suchleiste */
.navbar-search {
    display: flex;
    align-items: stretch;
    max-height: 30px;
    
    width: clamp(180px, 30vw, 460px);
    max-width: 460px;
    min-width: 180px;
    margin-right: left;
    flex-shrink: 1;
}

.navbar-search-shadow:focus-within {
    box-shadow: 0 0 0 0.2rem #2777cc56;
    border-radius: 6px 6px 6px 6px;
}

.navbar-search-input {
    min-width: 0;
    height: 35px;
    padding: 0 1rem;
    margin-right: -1rem;
    font-size: 1rem;  

    
    border-color: #15406e;
    border: 1px solid #15406e;
    border-radius: 6px 0 0 6px;
    border-right: none;
    box-shadow: none !important;
}

.navbar-search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 35px;
}

.navbar-search-icon {
    display: block;
    width: 20px;
}

