<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Passwort zurücksetzen</title>
    <style>
      {{.CSS}}
    </style>
  </head>

  <body >
    <div class="page">
      <main class="main-card">
        <div class="brand">
          <img class="brand-icon" src="img\nav_logo.svg" alt="Schmidt + Söhne">
        </div>
          
          <h1>
            {{if .Username}}
              Hallo {{.Username}},
            {{else}}
              Hallo,
            {{end}}
          </h1>
          
          <p>Für Ihr Konto wurde das Zurücksetzten des Passworts angefordert.</p>
          <p>Klicke auf den folgenden Button, um ein neues Passwort zu vergeben.</p>

          <div class="button-wrapper">
            <a href="{{.ResetURL}}" class="button">
              Passwort zurücksetzen
            </a>
          </div>

          <p>
            Falls du diese Anfrage nicht gestellt hast, kannst du diese E-Mail ignorieren.
            Dein Passwort belint dann unverändert.
          </p>
          <p>
            Viele Grüße<br />
            dein Schmidt + Söhne Team
          </p>
          
          <hr />

          <p class="small-text">
            Falls der Button nicht funktioniert, kopiere diesen Link in den Browser:
          </p>
          <p class="reset-link">
            {{.ResetURL}}
          </p>
      </main>

      <footer class="footer">
        <p>© {{.Year}} Schmidt + Söhne. Alle Rechte vorbehalten</p>
      </footer>
    </div>
  </body>
</html>